<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"	/>
	<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
	<!--Import Google Icon Font-->
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  	<!-- Compiled and minified JavaScript -->
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--  <script   src="http://code.jquery.com/jquery-1.11.3.min.js"   integrity="sha256-7LkWEzqTdpEfELxcZZlS6wAx5Ff13zZ83lYO2/ujj7g="   crossorigin="anonymous"></script>
  	
  	<script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script type="stylesheet" src="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"></script>-->
	<title>Cedula 4.4.1</title>
	<style type="text/css">
		.taling{
			border:4px solid #3F9BA2;
		}
		.btnn{
			color:#FBFDFD;
		}
		.fonfohead{
			background: #10AE8F;
			color:#075B52;
			padding: .15%;
		}
		.hedFont{
        		background: #2E4053;
        	}
        
	</style>
	
</head>
<body>
	 <nav class="nav-extended">
    <div class="nav-wrapper hedFont">
      <a href="#!" class="brand-logo">Sireev</a>
      <ul class="right hide-on-med-and-down">
        <li><a>Inicio</a></li>
        <li><a>Acerca de</a></li>
        <li><a>Cédulas</a></li>
      </ul>
    </div>
    <div class="nav-content fonfohead">
      <center><h5>Cédula 4.4.1 - Plan de Mejora</h5></center>
      <!-- <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal">
        <i class="material-icons">add</i>
      </a> -->
    </div>
    <!--
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="#test1">Test 1</a></li>
        <li class="tab"><a class="active" href="#test2">Test 2</a></li>
        <li class="tab disabled"><a href="#test3">Disabled Tab</a></li>
        <li class="tab"><a href="#test4">Test 4</a></li>
      </ul>
    </div>-->
  </nav>
  <!-- termina header -->
  <div class="container center aling">
  <div class="row">
    <form class="col s6">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
            <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Laboratorio o Taller</label>
        </div>
        <div class="col -s6 btnn">
        	<br>
        	<a class="waves-effect waves-light btn"><i class="material-icons left">save</i>Guardar</a>
        </div>
      </div>
    </form>
  </div>
  </div>
  <!-- Formulario -->
  <ul class="collapsible">
  <li>
    <div class="collapsible-header">
      <i class="material-icons">filter_drama</i>
      Hallazgo
      <span class="new badge">4</span></div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">place</i>
      Acción(es) de Mejora
      <span class="badge">1</span></div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">location_searching</i>
      Resultado(s) esperado(s)
      <span class="badge">1</span></div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">flag</i>
      Meta
      <span class="badge">1</span></div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
  </li>
</ul>
 
</body>
<script   src="js/jquery-3.2.1.min.js" ></script>
<script   src="js/materialize.min.js" ></script>
<script>
$(document).ready(function(){
    $('.collapsible').collapsible();
  });
 </script>
</html>